.header {
  display: flex;
  justify-content: space-between;
  margin: 25px 80px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a {
  margin-left: 20px;
  text-decoration: none;
}

.notification-icon {
  width: 30px;
  height: 34px;
  background: url(../assets/notyfication.png) no-repeat center;
  background-size: contain;
}

.search-icon {
  width: 65px;
  height: 55px;
  background: url(../assets/search.png) no-repeat center;
  background-size: contain;
}

.user-link {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 55px;
  height: 55px;
  background: url(../assets/user-logo.png) no-repeat center;
  background-size: contain;
  margin-left: 20px;
}

.user-text {
  font-size:22px;
  font-weight:600;
  color:rgba(41,78,125,1);
  line-height:27px;
  letter-spacing:1px;
}