

@font-face {
  font-family: 'ping';
  src: url('./PingFang-JianZhongHeiTi-2.ttf')
}

body {
  font-family: 'ping';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'ping' "Courier New",
    monospace;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
